@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.brand{
    display: flex;
    font-size: 26px;
    margin-right: auto;
}

.brand_t{
    margin-top: 14px;
    margin-left: 10px;
    font-weight: bold;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    border: solid blue 3px;
}

.nav_l{
    list-style: none;
}

.nav_l li{
    display: inline-block;
    padding: 0 20px;
}

.nav_l li a{
    transition: all 0.4s;
}

.nav_l li a:hover{
    color: rgb(255, 255, 155);
}

.brand,a{
    color: aliceblue;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.main{
    padding: 30px 10%;
}

.main .name{
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

#konami{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.about-me .title{
    font-size: 1.6rem;
    margin: 10px 10px 0 0 ;
    font-weight: 800;
}

.my-hobby .title{
    font-size: 1.6rem;
    margin: 10px 10px 0 0;
    font-weight: 800;
}

.tmp{
    margin: 20px 20px 0 0;
}

hr{
    margin-top: 20px;
}